$font-s: 0.5rem;
$font-sm: 0.7rem;
$font-m: 0.9rem;
$font-ml: 1.1rem;
$font-l: 1.3rem;

%profile-main-area {
  border-left: 10px solid #28a745;
  background-color: #fff;
  margin-bottom: 5%;
  padding: 2% 10%;
  > h3 {
    padding-left: 1%;
    font-size: $font-m;
  }
}

//------------------------------------------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(1.325rem + 0.9vw);
}

body,
html {
  font-size: 0.6rem;
  font-family: 'Microsoft JhengHei';
  line-height: 2;
}
//----------------------------------------------------------
.container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  //-----------------------------------------------------------
  > .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 20vw;
    height: 100vh;
    padding: 2% 2%;
    color: #fff;
    background-color: #161d2e;
    //-----------------------------------------------------------------
    > figure {
      text-align: center;
      margin-bottom: 10%;
      > img {
        width: 80%;
        border-radius: 50%;
      }

      > figcaption {
        font-size: $font-l;
        font-weight: bold;
      }
    }
    //-------------------------------------------------------------
    > nav {
      width: 100%;
      text-align: center;
      > button {
        cursor: pointer;
        width: 60%;
        color: #fff;
        background-color: #161d2e;
        border: 1px solid #fff;
        margin-bottom: 10%;
        font-size: $font-sm;
        font-weight: bold;
        padding: 15px 0;
        border-radius: 30px;

        &:hover {
          color: #161d2e;
          background-color: #fff;
        }

        &:focus {
          outline: none;
        }
      }
      .change-color {
        color: #161d2e;
        background-color: #fff;
      }
    }
    //--------------------------------------------------------
    > address {
      width: 100%;
      margin-top: auto;
      word-wrap: break-word;
      font-size: $font-s;
      text-align: center;
    }
  }
  //-----------------------------------------------------------
  > main {
    background-color: #eee;
    min-height: 100vh;
    grid-column: 2 / span 2;
    padding: 5% 10%;
    //--------------------------------------------------------
    > .skill {
      @extend %profile-main-area;
      > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > li {
          flex: 0 1 30%;
          padding: 1%;
          &::before {
            content: '\1F4BB'+' ';
          }
        }
      }
    }

    > .experience {
      @extend %profile-main-area;

      > .ex-content {
        display: flex;
        padding: 5% 0;
        justify-content: space-around;
        align-items: center;
        > img {
          width: 50%;
          box-shadow: 5px 5px 10px 5px #ddd;
        }

        > .ex-text {
          padding: 5%;
        }
      }
    }
    //------------------------------------------------------
    .portfolio {
      display: flex;
      flex-direction: column;

      > h3 {
        font-size: $font-m;
        text-align: center;
        padding: 1% 0;
      }

      > a {
        text-align: center;
        font-size: $font-m;
        margin-bottom: 3%;
      }

      > .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(300px, auto);
        padding: 20px;
        gap: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 10px #ddd;
        > .img-container {
          overflow: hidden;
          border: 1px solid #aaaaaa50;
          > img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        > .large-img-1 {
          grid-column: 2 / span 2;
          grid-row: 1 / span 2;
        }
        > .large-img-2 {
          grid-column: 1 / span 2;
          grid-row: 3 / span 2;
        }
        > .large-img-3 {
          grid-column: 2 / span 2;
          grid-row: 5 / span 2;
        }
        > .large-img-4 {
          grid-column: 1 / span 2;
          grid-row: 7 / span 2;
        }
        > .large-img-5 {
          grid-column: 2 / span 2;
          grid-row: 9 / span 2;
        }
        > .large-img-6 {
          grid-column: 1 / span 2;
          grid-row: 11 / span 2;
        }
      }
    }
  }
}

.modal {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #000000da;
  opacity: 0;
  transition: 0.3s;

  > img {
    max-width: 65%;
    min-width: 30%;
    margin-bottom: 3%;
  }
}

.open {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: unset;
    //-----------------------------------------------------------
    > .sidebar {
      position: initial;
      width: 100%;
      height: max-content;
      padding: 5% 5%;

      //-----------------------------------------------------------------
      > figure {
        margin-bottom: 5%;
        > img {
          width: 60%;
          border-radius: 50%;
        }
      }
      //-------------------------------------------------------------
      > nav {
        > button {
          margin-bottom: 5%;
          padding: 3% 0;
        }
      }
      //--------------------------------------------------------
      > address {
        margin-top: initial;
      }
    }
    //-----------------------------------------------------------
    > main {
      min-height: unset;
      grid-column: unset;
      padding: 10% 5%;
      //--------------------------------------------------------
      > .skill {
        margin-bottom: 10%;
        > ul {
          display: flex;
          > li {
            flex: 0 1 50%;
          }
        }
      }

      > .experience {
        margin-bottom: 10%;

        > .ex-content {
          flex-wrap: wrap;
          text-align: center;
          > img {
            width: 100%;
            margin: 10% auto;
          }
        }
      }
      //------------------------------------------------------
      .portfolio {
        > a {
          margin-bottom: 5%;
        }

        > .gallery {
          grid-template-columns: 1fr;
          grid-auto-rows: minmax(min-content, 250px);
          > .large-img-1 {
            grid-column: unset;
            grid-row: unset;
          }
          > .large-img-2 {
            grid-column: unset;
            grid-row: unset;
          }
          > .large-img-3 {
            grid-column: unset;
            grid-row: unset;
          }
          > .large-img-4 {
            grid-column: unset;
            grid-row: unset;
          }
          > .large-img-5 {
            grid-column: unset;
            grid-row: unset;
          }
          > .large-img-6 {
            grid-column: unset;
            grid-row: unset;
          }
        }
      }
    }
  }
}
