.skill {
  @extend %profile-main-area;
  > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > li {
      flex: 0 1 30%;
      padding: 1%;
      &::before {
        content: "\1F4BB"+" ";
      }
    }
  }
}

.experience {
  @extend %profile-main-area;

  > .ex-content {
    display: flex;
    padding: 5% 0;
    justify-content: space-around;
    align-items: center;
    > img {
      width: 50%;
      box-shadow: 5px 5px 10px 5px #ddd;
    }

    > .ex-text {
      padding: 5%;
    }
  }
}
